@import url("http://tanglo.github.io/stylesheets/stylesheet.css");

#header_wrap .inner {
    padding: 50px 10px 10px 10px;
}

#navbar-wrap {
    background: #ffffff;
}

#navbar-wrap .inner {
    padding: 15px 0px 1px 0px;
}

ul#navbar li {
    display: inline;
    padding-left: 0px;
}

a#navbar {
    padding-right: 10px;
    color: #212121;
    font-weight: bold
}