<div id="navbar-wrap" class="outer">
    <div class="inner">
        {% assign pages = site.pages | sort:"order"  %}
        <ul>
            {% for p in pages %}
                {% unless p.sitemap.exclude == "yes" %}
                    <li>
                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url | prepend: site.baseurl}}">
                            {{ p.title }}
                        </a>
                    </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </div>
</div>