---
sitemap:
  exclude: "yes"
---

/*
 * Variables
 */
$header-background-colour: #216A27;
$header-grad-colour: #286ED2;
$header-top-colour: #FFF756;
$text-color: #212121;
$navbar-active-colour: #104029;
$code-block-colour: #E0E0E0;


.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

body {
//    box-sizing: border-box;
    color:$text-color;
    background: header-background-colour;
    font-size: 16px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 700;
    color:#222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p + ul {
    margin-top: -20px;
}

p,
    li {
        code {
        line-height: 1.5;
        white-space: nowrap;
        margin: 0 2px;
        padding: 5px 10px;
        background-color: $code-block-colour;
    }
}

a {
    text-decoration: none;
    color: #286ED2;
    text-shadow: none;
}

/* Change the link color to $navbar-active-colour on hover */
li a:hover {
    background-color: $navbar-active-colour;
}

#header_wrap {
    background: $header-background-colour;
    background: -moz-linear-gradient(top, $header-top-colour, $header-grad-colour 15%, $header-grad-colour 80%, $header-background-colour);
    background: -webkit-linear-gradient(top, $header-top-colour, $header-grad-colour 15%, $header-grad-colour 80%, $header-background-colour);
    background: -ms-linear-gradient(top, $header-top-colour, $header-grad-colour 15%, $header-grad-colour 80%, $header-background-colour);
    background: -o-linear-gradient(top, $header-top-colour, $header-grad-colour 15%, $header-grad-colour 80%, $header-background-colour);
    background: linear-gradient(top, $header-top-colour, $header-grad-colour 15%, $header-grad-colour 80%, $header-background-colour);
}

#project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}

#project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
}

#navbar-wrap {
    background: $header-background-colour;
}

#navbar-wrap .inner {
    padding: 0;
}

#navbar-wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $header-background-colour;
}

#navbar-wrap li {
    float: left;
}

#navbar-wrap li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#main_content_wrap {
    background: #f2f2f2;
}

#main_content {
    padding-top: 40px;
}

#footer_wrap {
    background: $header-background-colour;
}

footer a {
    color: $text-color;
    text-decoration: underline;
}
